<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="key" connectionString="Data Source=DataBaist; Initial Catalog = Placemejobs; Integrated Security=True"/>
    <!--<add name="key" connectionString="Data Source=.; Initial Catalog = Placemejobs; Integrated Security=True"/>-->
  </connectionStrings>
  <system.web>
    <customErrors mode="Off"/>
    <webServices>
      <protocols>
        <add name="HttpGet"/>
        <add name="HttpPost"/>
      </protocols>
    </webServices>

  </system.web>
  <system.web>
    <compilation debug="true" targetFramework="4.6.1"/>
    <httpRuntime targetFramework="4.6.1"/>
    <authentication mode="Forms">
      <!--<forms loginUrl="Logon.aspx" name=".ASPXFORMSAUTH"/> -->
      <forms defaultUrl="Default.aspx" loginUrl="Login.aspx" name="AuthCookie" timeout="60" path="/"/>
    </authentication>
    <authorization>
      <deny users="?"/>
    </authorization>
  </system.web>
  <location path="Default.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Contact.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="RegisterAccount.aspx">
    <system.web>
      <!--10MB in Kilobytes-->
      <httpRuntime maxRequestLength="10486" executionTimeout="3600"/>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
    <system.webServer>
      <security>
        <requestFiltering>
          <!--10MB in Bytes-->
          <requestLimits maxAllowedContentLength="10485760"/>
        </requestFiltering>
      </security>
    </system.webServer>
  </location>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
  </appSettings>
</configuration>