<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <!--<add name="key" connectionString="Data Source=DataBaist; Initial Catalog = Placemejobs; Integrated Security=True"/>-->
    <!--<add name="key" connectionString="Data Source=(LocalDB)\MSSQLLocalDB; Initial Catalog = Placemejobs; Integrated Security=True"/>-->
    <add name="key" connectionString="Data Source=198.71.226.6;Integrated Security=False;User ID=placemejob; Password=password123;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <trust level="Full" />
    <customErrors mode="Off"/>
    <webServices>
      <protocols>
        <add name="HttpGet"/>
        <add name="HttpPost"/>
      </protocols>
    </webServices>
  </system.web>

  <system.web>
    <compilation debug="true" targetFramework="4.6.1"/>
    <httpRuntime targetFramework="4.6.1"/>
    <authentication mode="Forms">
      <!--<forms loginUrl="Logon.aspx" name=".ASPXFORMSAUTH"/> -->
      <forms defaultUrl="Default.aspx" loginUrl="Login.aspx" name="AuthCookie" timeout="60" path="/"/>
    </authentication>
    <authorization>
      <allow users="?"/>
    </authorization>
  </system.web>
  
  
  <location path="RegisterCandidate.aspx">
    <system.web>
      <authorization>
        <allow roles="Admin"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>

  <location path="CandidateManagement2.aspx">
    <system.web>
      <authorization>
        <allow roles="Admin"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>

  <location path="CandidateManagement.aspx">
    <system.web>
      <authorization>
        <allow roles="Admin"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
 
  <location path="ViewCandidates.aspx">
    <system.web>
      <authorization>
        <allow roles="Admin"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="AddProfession.aspx">
    <system.web>
      <authorization>
        <allow roles="Admin"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="UpdateProfession.aspx">
    <system.web>
      <authorization>
        <allow roles="Admin"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="AddSkillSet.aspx">
    <system.web>
      <authorization>
        <allow roles="Admin"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="UpdateSkillSet.aspx">
    <system.web>
      <authorization>
        <allow roles="Admin"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="AddRegion.aspx">
    <system.web>
      <authorization>
        <allow roles="Admin"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="UpdateRegion.aspx">
    <system.web>
      <authorization>
        <allow roles="Admin"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
        <location path="AddJobPosting.aspx">
    <system.web>
      <authorization>
        <allow roles="Admin"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
      <location path="ViewJobPosting.aspx">
    <system.web>
      <authorization>
        <allow roles="Admin"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
          <location path="ModifyJobPosting.aspx">
    <system.web>
      <authorization>
        <allow roles="Admin"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="ViewReports.aspx">
    <system.web>
      <authorization>
        <allow roles="Admin"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>

<!--Comment the following authorization section out to make admin for system-->
  <location path="Register.aspx">
    <system.web>
      <authorization>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
 
  <location path="RegisterAccount.aspx">
    <system.web>
      <!--10MB in Kilobytes-->
      <httpRuntime maxRequestLength="10486" executionTimeout="3600"/>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
    <system.webServer>
      <security>
        <requestFiltering>
          <!--10MB in Bytes-->
          <requestLimits maxAllowedContentLength="10485760"/>
        </requestFiltering>
      </security>
    </system.webServer>
  </location>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
  </appSettings>
</configuration>