@media (min-width:320px) {
    .Main {
        margin-top: 3rem;
    }

    html {
        position: relative;
        min-height: 100%;
    }

    body {
        margin: 0 0 20rem 0;
        padding-bottom: 5rem;
        
    }

    .footer {
        position: absolute;
        bottom: 0;
        width: 100%;
    }
}

@media (min-width:480px) {
    
        
}

@media (min-width:640px) {
    .Main {
        margin: 3rem 15rem 0 15rem;
        
}

@media (min-width:768px) {
    .Main {
        margin: 3rem 15rem 0 15rem;
        
}

@media (min-width:1024px) {
     .Main {
        margin: 3rem 15rem 0 15rem;
        
        
    }
}

.table-active>tbody{
    background-color:#d8e7f6;
}

.table-active>tbody>tr>td{
    padding: 1rem 1rem 1rem 1rem;
    background-color:transparent;
    border-radius: 1rem;
}
 .table-active>thead>tr>td{
     padding-top:30px;
 }


    

